// @import "reset";

$color_blue: #3F65FF;
$active_color_blue: #3455DA;
$color_red: #F5716F ;

/* 超出部分出省略号 */
@mixin text-overflow {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* 多行文本超出部分省略号 */
@mixin ellipsis-line ($line: 2) {
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
}

// element一些样式修改
/deep/ .el-button--default {
    border-color: $color_blue !important;
    color: $color_blue !important;
}
/deep/ .el-dialog__headerbtn {
    top: 13px;
}
/deep/ .el-dialog__close{
    color: #fff !important;
    font-size: 18px;
}